body {
  font-family: Verdana, Arial, sans-serif;
  margin: 25px;
  border: 0;
  background-color: #cc3300;
  text-align: left;
}

img {
  border: 0;
}

h1, h2, h3, h4 {
  font-family: Georgia, Times, serif;
}

h1 {
  margin-top: 0;
}

a {
  color: #cc3300;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

th {
  text-align: left;
  width: 350px;
  font-weight: normal;
  font-family: 'Monaco', 'Courier New', Courier, mono-spaced;
  font-size: 0.7em;
}

blockquote {
  margin-left: 25px;
}

code, blockquote pre {
  font-family: 'Monaco', 'Courier New', Courier, mono-spaced;
  font-size: 0.7em;
}

pre {
  width: 99.8%;
  background: #eee;
  padding: 10px 10px 0 10px;
  font: 1em "Lucida Console", monospace;
  overflow: auto;
}

div#blank_wrap {
  position: absolute;
  left: 50%;
  width: 990px;
  margin-left: -495px;
}

div#page{
  border: 2px solid black;
  background-color: #ffffff;
  padding: 25px;	
}


div#navigation {
  float: left;
  width: 175px;
}

div#navigation ul, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div#content {
  margin-left: 175px;
  min-height: 250px;
}

div#footer {
  border-top: 1px solid #000000;
  padding-top: 5px;
  text-align: center;
  font-size: 0.8em;
}

div#footer p {
  margin: 0;
}

span#claim {
  font-style: italic;
  font-size: 0.5em;
  margin-left: 10px;
}