<h2>About this demo app</h2>
<div>
  <p>This demo app was written by <%= mail_to "clemens@railway.at", "Clemens Kofler" %>.</p>
  <p>If you have any feedback, please feel free to drop me a line. Also visit <%= link_to "www.railway.at", "http://www.railway.at" %> where I regularly blog about Rails and other stuff.</p>
  <p>This demo app and all its contents are licensed under the <%= link_to "Creative Commons Attribution Noncommercial Share Alike License", "http://creativecommons.org/licenses/by-nc-sa/2.0/at/" %>. If you want to use it in ways prohibited by this license, please contact me and ask my permission.</p>
  <p><%= link_to image_tag("http://i.creativecommons.org/l/by-nc-sa/2.0/at/88x31.png"), "http://creativecommons.org/licenses/by-nc-sa/2.0/at/" %></p>
</div>