<h2>ActiveRecordHelper</h2>
<div>
  <p>No examples here since I'm too lazy to think of attributes to show <strong>all</strong> custom error messages. ;-)</p>
  <p>It's quite easy to understand, though.</p>
  <p style="text-align:right;"><%= link_to '&raquo; NumberHelper', :action => 'number_helper' %></p>
</div>