<h2>ActiveRecordHelper</h2>
<div>
  <p><%= I18n.t 'txt.active_record.too_lazy' %></p>
  <p><%= I18n.t 'txt.active_record.easy_to_understand' %></p>
  <p style="text-align:right;"><%= link_to '&raquo; NumberHelper', :action => 'number_helper' %></p>
</div>