<h2>ActiveRecordHelper</h2>
<div>
  <p>Nenhum exemplo aqui já que sou muito preguiçoso para pensar em atributos para mostrar <strong>todas</strong> as mensagens customizadas de erro. ;-)</p>
  <p>Mas é bem fácil de entender..</p>
  <p style="text-align:right;"><%= link_to '&raquo; NumberHelper', :action => 'number_helper' %></p>
</div>