<%= javascript_include_tag :defaults %>
<h2>InPlaceEditing</h2>
<div>
  <table>
    <tr>
      <th scope="row">in_place_editor('id1', :url => {:action => 'update_value'}, :locale => 'en-US')</th>
      <td>
		<div id="id1">click aqui!</div>
		<%= in_place_editor('id1', :url => {:action => 'update_value'}, :locale => 'en-US') %>
	  </td>
    </tr>
    <tr>
      <th scope="row">in_place_editor('some_input', :url => {:action => 'update_value'})</th>
      <td>
		<div id="id2">click aqui!</div>
		<%= in_place_editor('id2', :url => {:action => 'update_value'}) %>
	  </td>
    </tr>
  </table>
</div>

<p style="text-align:right;"><%= link_to '&raquo; Sobre essa aplicação de demonstração', :action => 'about' %></p>