<h2>Introdução</h2>
<div>
  <p>Recentemente, muito trabalho foi feito por <%= link_to "Sven Fuchs", "http://www.artweb-design.de/" %> e <%= link_to "outros", "http://github.com/svenfuchs/i18n/tree/48ff00d2af07693171ec341500537b30e23e83bc/README.textile" %> para facilitar futuras internacionalizações e localizações no Rails.</p>
  <p>Esta aplicação de demonstração tenta demonstrar como usar as funcionalidades que foram implementadas até agora para localizar grandes partes de sua aplicação Rails.</p>
</div>

<p style="text-align:right;"><%= link_to '&raquo; Configuração', :action => 'setup' %></p>