<h2><%= I18n.t 'txt.menu.introduction' %></h2>
<div>
  <p><%= I18n.t 'txt.index.introduction',
				:sven_blog => link_to("Sven Fuchs", "http://www.artweb-design.de/"),
				:sven_github => link_to(I18n.translate('txt.index.others'), "http://github.com/svenfuchs/i18n/tree/48ff00d2af07693171ec341500537b30e23e83bc/README.textile") %></p>
  <p><%= I18n.t 'txt.index.story_so_far' %></p>
</div>

<p style="text-align:right;"><%= link_to "&raquo; #{I18n.t 'txt.menu.setup'}", :action => 'setup' %></p>