<h2>Introduction</h2>
<div>
  <p>Lately, a lot of work has been done by <%= link_to "Sven Fuchs", "http://www.artweb-design.de/" %> and <%= link_to "others", "http://github.com/svenfuchs/i18n/tree/48ff00d2af07693171ec341500537b30e23e83bc/README.textile" %> to facilitate future internationalization and localization of Rails.</p>
  <p>This demo app tries to show you how you can use the features that have been implemented so far to localize big parts of your Rails application.</p>
</div>

<p style="text-align:right;"><%= link_to '&raquo; Setup', :action => 'setup' %></p>